<app-home></app-home>

<div class="col-md-6 w-100 d-flex justify-content-center">
    <app-form (addQuote)="addNewQuote($event)" ></app-form>
</div>

    <div class="row justify-content-center">
        <div  *ngFor="let quote of quotes; let i = index " class="col-md-3 border border-success rounded-3 p-4 m-3 mb-4  ">
            <div class="card-header">
             
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p appHighlight *ngIf="highestUpvote()===quote.likes && quote.likes>0">{{quote.description}} </p>
                <p *ngIf="highestUpvote()!==quote.likes || quote.likes===0">{{quote.description}}
                </p>
                <p class="blockquote-footer"><cite title="Source Title"> {{quote.name}} </cite></p>
              </blockquote>
            </div>

            <div class="card-footer">
              <div>
                <p>Posted {{quote.postedOn|dateCount}} days ago </p>
              </div>
                <app-card [quote]='quote' (isComplete) = 'deleteQuote($event,i)' ></app-card>
            </div>
        </div>
    </div>


