<app-home></app-home>


    <div class="row">
        <div  *ngFor="let quote of quotes; let i = index " class="col-md-4 mb-4 ">
            <div class="card-header">
             {{quote.postedOn}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p> {{quote.description}} </p>
                <footer class="blockquote-footer"> {{quote.name}} <cite title="Source Title"> {{quote.author}} </cite></footer>
              </blockquote>
            </div>
            <div class="card-body">
                <a href="#" class="card-link"> {{quote.likes}} </a>
                <a href="#" class="card-link"> {{quote.dislikes}} </a>
              </div>
        </div>
    </div>


