<app-home></app-home>

<div class="col-md-6 w-100 d-flex justify-content-center">
    <app-form (addQuote)="addNewQuote($event)" ></app-form>
</div>

    <div class="row ">
        <div  *ngFor="let quote of quotes; let i = index " class="col-md-4 mb-4   border border-success">
            <div class="card-header">
             
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p> {{quote.description}} </p>
                <footer class="blockquote-footer"><cite title="Source Title"> {{quote.name}} </cite></footer>
              </blockquote>
            </div>

            <div>
              <p>Posted {{quote.postedOn|dateCount}} days ago </p>
            </div>
            <div class="card-body">
                
                <app-card [quote]='quote' (isComplete) = 'deleteQuote($event,i)' ></app-card>
              </div>
        </div>
    </div>


